<div class="content-container">
  <div class="main-content">
    <app-header></app-header>
    {{newUpdate}}
    <div class="alert alert-success show" role="alert" style="width: 80%;margin-left: 10%" *ngIf="newUpdate">
      <strong>Bonne nouvelle !</strong> L'application a été mise à jour.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="hideUpdate()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="container-fluid" style="margin-bottom: 5%">
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-version></app-version>
</div>
