.title {
  // text-decoration: underline;
  // text-underline-offset: 3px;
  border-width: 2px;
  border-color: rgb(63, 122, 173);
  // border-color: black;
  // color: gray;
  background-color: rgba(63, 122, 173, 0.2);
}

.changes {
  border-width: 2px;
  border-color: rgb(255, 210, 143);
  background-color: rgb(255, 210, 143, 0.2);
}
